// Variables
$main-sidebar-color: #282a36;
$main-font: 'Roboto', sans-serif;
$heading-font: 'Palanquin Dark', sans-serif;
$main-line-height: 1.2rem;


// Gutters
$grid-gutter-width: 0;


//Root element

html {
    font-size: 16px;
    
}

body {
    font-family: 'Roboto', sans-serif;

}
// Sidebar


.sidebar {
    background-color: $main-sidebar-color;
    ul {
        background-color: $main-sidebar-color;
    }
    a {
        font-size: 2.5rem;
    }
}

// Content

.main-heading {
    font-family: $heading-font;
}

// Footer

.footer {
    background-color: $main-sidebar-color;
}