// Variables
$main-sidebar-color: #282a36;
$main-font: 'Roboto', sans-serif;
$heading-font: 'Palanquin Dark', sans-serif;
$main-line-height: 1.2rem;
$nav-icon-color: #3f51b5;
$nav-icon-color-hover: #6573c3;
$social-icon-color: #568a73;
$social-icon-color-hover: #8fcb9b;

// Gutters
$grid-gutter-width: 0;


//Root element

html {
    font-size: 16px;
    
}

body {
    font-family: 'Roboto', sans-serif;

}
// Sidebar


.sidebar {
    background-color: $main-sidebar-color;
    ul {
        background-color: $main-sidebar-color;
    }
    a {
        font-size: 2.5rem;
    }
    .nav-link i {
        color: $nav-icon-color;
    }
    .nav-link i:hover {
        color: $nav-icon-color-hover;
    }
    .social-link i{
        color: $social-icon-color;
    }
    .social-link:hover i {
        color: $social-icon-color-hover;
    }   
}


// Content

.main-heading {
    font-family: $heading-font;
    font-size: 3.5rem;
    line-height: $main-line-height*2.5;
}

.about-me {
    font-size: 2rem;
    width: 70%;
    margin: auto;
}

img {
    width: 21rem;
}

// Contact form

.form-control {
    border: 2px solid $nav-icon-color;
}

.form-input {
    width: 70%;
    margin: auto;
}

.send-email-button {
    font-weight: 500;
    padding: 0.75rem 2rem;
    background-color: #568a73;
    border-radius: 15%;
    &:hover {
        background-color: #8fcb9b;
    }
}


// Footer

.footer {
    background-color: $main-sidebar-color;
}